
@model IEnumerable<WebBlotter.Models.SP_Get_BlotterProjection_Result>

@{
    ViewBag.Title = "Blotter Projection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 11px;
        border-collapse: collapse;
        width: 90%;
        min-width: 800px;
        max-width: 1500px;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 2px;
            font-size: 10.5px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    table, th, td {
        border: 1px solid black;
    }
</style>
<script src="../Scripts/jquery-3.4.1.min.js"></script>


<h2>BLOTTER SBP Projection</h2>




<table id="customers" class="table table-striped table-bordered table-hover ">
    <thead>
        <tr>
            <th>SNO</th>
            <th>Date</th>
            <th>InFlow</th>
            <th>OutFlow</th>
            <th>Action</th>
        </tr>
    </thead>
    @{
        var i = 0;
        foreach (var list in Model)
        {
            using (Html.BeginForm("Update", "BlotterProjection", FormMethod.Post))
            {
        <tr>
            <td>
                <label type="text">@list.SNO</label>
                <input type="hidden" value="@list.SNO" name="sno" id="sno" />
            </td>
            <td>
                @Html.DisplayFor(x => list.Date)

                <input type="hidden" value="@list.Date" name="Date" id="Date" />
            </td>
            <td>

                <input type="number"  value="@list.Proj_InFlow"  name="Proj_InFlow" />
            </td>
            <td>

                <input type="number"  value="@list.Proj_OutFlow"   name="Proj_OutFlow" />
            </td>
            
            <!--<td>
    <input type="hidden" class="ClassBalanceDifference" value="" id="BalanceDifference" name="BalanceDifference" />
    <label type="text"></label>-->
            @*<span class="result" name="BalanceDifference">@list.BalanceDifference</span>*@
            <!--</td>-->

            <td>
                <a href="@Url.Action("Update", "BlotterProjection", new { obj = @list })">
                    <input type="submit" id="btnSelect" value="Save" class="userselect btn btn-info" />
                </a>
            </td>
        </tr>
                i++;
            }
        }
    }
</table>


<script>
    /*function TotalBalanceDifference(SBPbal) {*/
    /*      debugger;*/

    //var ActualOpeningBalanaceVal = parseFloat($("#ActualOpeningBalance").val()).toFixed(2);
    //var SBPBalanaceVal = SBPbal;
    //var BalanceDifference = ActualOpeningBalanaceVal - SBPBalanaceVal;
    //$('#BalanceDifferenceId').val(parseFloat(BalanceDifference).toFixed(2));
    //$("#BalanceDifference").val(BalanceDifference.toFixed(2));
    //$("#customers").on("input", "td:nth-child(4)", function () {
    //    debugger;
    //    var cell = $(this);
    //    var input1 = +cell.parent().find("td:nth-child(3) input").val() || 0
    //    var input2 = +cell.parent().find("td:nth-child(4) input").val() || 0
    //    var result = cell.parent().find("td:nth-child(5) label").text(input1 - input2);
    //    cell.parent().find("td:nth-child(5) input").val(input1 - input2);
    //   // cell.parent().find("td:nth-child(5) input").val(result);
    //});

    /*  }*/
    //function TotalBalanceDifference(SBPbal) {
    //    var t = document.getElementById('customers');
    //    var rows = t.rows;
    //    for (var i = 0; i < rows.length; i++) {
    //        rows[i].onclick = function () {
    //            if (this.parentNode.nodeName == 'THEAD') {
    //                return;
    //            }
    //            var cells = this.cells; //cells collection
    //            //var cells = target.getElementsByTagName('td'); //alternative
    //            if (!cells.length || target.parentNode.nodeName == 'thead') {
    //                return;
    //            }
    //            var f3 = document.getElementById('BalanceDifference');
    //            f1.value = cells[2].innerHTML;
    //            f2.value = cells[3].innerHTML;
    //            f3.value = f1.value = f2.value;
    //        }
    //    }
    //}


    //$(".TotalBalanceDifference input").keyup(function () {
    //    var id = $(this).closest("tr").find('td:eq(4)').val(4);
    //    alert(id);
    //});

    $('.userselect').click(divFunction);
    function divFunction() {
        $(this).closest('form').submit();
    }
    function isNumberKey() {

        if ((event.keyCode == 8) || (event.keyCode == 32) || (event.keyCode > 42 && event.keyCode < 58))
            return true;
        else {
            alert("Please Enter Valid Number");
            return false;
        }
</script>

